#!/usr/bin/make -f

# Use ghcup installed tools
export PATH := $(HOME)/.ghcup/bin:$(PATH)
FORCE_GHCUP ?= 1
GHC_VER := 9.6.7
CABAL_VER := 3.14.1.1

# Controls for ghcup install flags. Set when invoking make or export in environment.
# - GHCUP_INSTALL_VERBOSE: 1 to enable -v, 0 to disable
# - GHCUP_INSTALL_FORCE: 1 to enable --force, 0 to disable
GHCUP_INSTALL_VERBOSE ?= 0
GHCUP_INSTALL_FORCE ?= 0

ifeq ($(GHCUP_INSTALL_VERBOSE),1)
GHCUP_VERBOSE_FLAG := -v
else
GHCUP_VERBOSE_FLAG :=
endif

ifeq ($(GHCUP_INSTALL_FORCE),1)
GHCUP_FORCE_FLAG := --force
else
GHCUP_FORCE_FLAG :=
endif

%:
	dh $@

override_dh_auto_configure:
ifeq ($(FORCE_GHCUP), 1)
	echo $(FORCE_GHCUP)
	ghcup $(GHCUP_VERBOSE_FLAG) install ghc --set $(GHCUP_FORCE_FLAG) ${GHC_VER}
	ghcup $(GHCUP_VERBOSE_FLAG) install cabal $(GHCUP_FORCE_FLAG) ${CABAL_VER}	
endif

override_dh_auto_build:
	# Build ghcup binary
	#@[ -f debian/ghcup/usr/bin/ghcup ] && exit 0
	# we should be able to build for the target architecture, we would need to set up cross-compilation if we wanted to build for a different architecture
	# thus we would need correctly setup build dependencies (which dosnt seem to work)
	# but ghc should be able to build for the target architecture, so we can just build it and then copy the binary to the right location
	# echo DEB_BUILD_ARCH=$(DEB_BUILD_ARCH)
	# echo DEB_HOST_ARCH=$(DEB_HOST_ARCH)
	# echo DEB_TARGET_ARCH=$(DEB_TARGET_ARCH)

	cabal update
	cabal build --project-file=cabal.project.release

override_dh_auto_test:
	# Skip tests for now

override_dh_auto_install:
	# Get binary location from cabal and install it
	install -D -m 0755 $$(cabal --project-file=cabal.project.release list-bin ghcup) \
		debian/ghcup/usr/bin/ghcup
	# Install system-wide profile script
	install -D -m 0644 debian/ghcup-profile.sh \
		debian/ghcup/etc/profile.d/ghcup.sh

override_dh_auto_clean:
	#-cabal clean
	#-rm -rf dist-newstyle/ 
	#-rm -rf cabal/ 
	# -rm -rf ~/.cabal/
